.banner {
  position: relative;
  margin: auto;
  margin-top: 10px;
  width: 80%;
  height: 450px;
}

/* Container */
.banner-container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Slides */
.banner-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.banner-slide.active {
  opacity: 1;
}

.banner-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 6px 32px rgba(245, 222, 179, 0.75);
}

@media (max-width: 1024px) {
  .banner {
    height: 350px;
    width: 90%; 
  }

  .banner-slide img {
    padding: 8px;
    border-radius: 16px;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 240px; 
    width: 92%;
  }

  .banner-slide img {
    border-radius: 14px;
    padding: 6px;
  }
}

/* Small Mobile */
@media (max-width: 480px) {
  .banner {
    height: 190px;
    width: 95%;
  }

  .banner-slide img {
    border-radius: 10px;
    padding: 5px;
  }
}
