.notfound-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f9f5ef;
  text-align: center;
  padding: 20px;
}

.error-code {
  font-size: 6rem;
  font-weight: 800;
  color: #8a5a30;
  margin-bottom: 10px;
}

.error-text {
  font-size: 1.2rem;
  color: #5a5a5a;
  margin-bottom: 25px;
}

.hoome-btn {
  padding: 12px 26px;
  border: none;
  border-radius: 25px;
  background: #8a5a30;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.hoome-btn:hover {
  background: #6f4726;
  transform: translateY(-2px);
}
