@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* RESET + GLOBAL DEFAULTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

body {
  min-height: 100vh;
  overflow-x: hidden; /* Prevents horizontal scrolling on mobile */
}

img, video {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

/* ROOT APP WRAPPER */
.app {
  width: 100%;
  margin: auto;
} 